<h1>Episode <%=@episode.number%></h1>
<br>
<h2> Aired on: <%=@episode.date%></h2>
<br>
<h2>Guests</h2>

<h3>
<%@episode.guests.each do |guest|%>
<%=link_to guest.name, guest_path(guest)%>
<br>
<% end %>
</h3>