<h1>Episode <%=@episode.date%></h1>

<p>Guests:
    <ul>
        <%@episode.appearance.each do |appearance|%>
            <li><%=link_to(appearance.guest.name, guest_path(appearance.guest))%>, Rating <%=appearance.rating%></li>
        <%end%>
    </ul>
</p>